# eBay Kleinanzeigen - Data Cleaning Basics Project

The assignment is to clean the data and analyze the included used car listings. eBay Kleinanzeigen is the classifieds section of the German eBay website. Dataquest sampled 50,000 data points from the full dataset and 
"dirtied" the dataset to more accurately resemble a scraped dataset. The original dataset on Kaggle can be found [here](https://www.kaggle.com/orgesleka/used-cars-database/data).

The dataset includes the following columns:
* dateCrawled - When this ad was first crawled. All field-values are taken from this date.
* name - Name of the car.
* seller - Whether the seller is private or a dealer.
* offerType - The type of listing
* price - The price on the ad to sell the car.
* abtest - Whether the listing is included in an A/B test.
* vehicleType - The vehicle Type.
* yearOfRegistration - The year in which the car was first registered.
* gearbox - The transmission type.
* powerPS - The power of the car in PS.
* model - The car model name.
* kilometer - How many kilometers the car has driven.
* monthOfRegistration - The month in which the car was first registered.
* fuelType - What type of fuel the car uses.
* brand - The brand of the car.
* notRepairedDamage - If the car has a damage which is not yet repaired.
* dateCreated - The date on which the eBay listing was created.
* nrOfPictures - The number of pictures in the ad.
* postalCode - The postal code for the location of the vehicle.
* lastSeenOnline - When the crawler saw this ad last online.

In [1]:
import pandas as pd
import numpy as np

In [2]:
autos = pd.read_csv('autos.csv', encoding = 'Windows-1252')

In [3]:
autos.head(2)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08

In [4]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [5]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [6]:
def clean_col(col):
    col = col.replace("yearOfRegistration","registration_year")
    col = col.replace("monthOfRegistration","registration_month")
    col = col.replace("notRepairedDamage","unrepaired_damage")
    col = col.replace("dateCreated","ad_created")
    col = col.replace(" ","_")
    col = col.lower()
    return col

new_columns = []

for c in autos.columns:
    c = clean_col(c)
    new_columns.append(c)

autos.columns = new_columns

In [7]:
autos.head(2)

,datecrawled,name,seller,offertype,price,abtest,vehicletype,registration_year,gearbox,powerps,model,odometer,registration_month,fueltype,brand,unrepaired_damage,ad_created,nrofpictures,postalcode,lastseen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08

In [8]:
autos.describe()

,registration_year,powerps,registration_month,nrofpictures,postalcode
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

In [9]:
autos.describe(include = 'all')

,datecrawled,name,seller,offertype,price,abtest,vehicletype,registration_year,gearbox,powerps,model,odometer,registration_month,fueltype,brand,unrepaired_damage,ad_created,nrofpictures,postalcode,lastseen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-08 10:40:35,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

## Notes
1. Price column contains string objects.
2. Odometer column contains string objects.

In [10]:
autos["price"].value_counts()

$0         1421
$500        781
$1,500      734
$2,500      643
$1,200      639
           ...
$2,134        1
$3,260        1
$3,318        1
$887          1
$15,249       1
Name: price, Length: 2357, dtype: int64

In [11]:
autos["price"] = autos["price"].str.replace(",", "")
autos["price"] = autos["price"].str.replace("$", "")
autos["price"] = autos["price"].astype(int)
autos.rename({"price": "price_usd"}, inplace = True, axis = 1)

In [12]:
autos["odometer"].value_counts()

150,000km    32424
125,000km     5170
100,000km     2169
90,000km      1757
80,000km      1436
70,000km      1230
60,000km      1164
50,000km      1027
5,000km        967
40,000km       819
30,000km       789
20,000km       784
10,000km       264
Name: odometer, dtype: int64

In [13]:
autos["odometer"] = autos["odometer"].str.replace(",", "")
autos["odometer"] = autos["odometer"].str.replace("km", "")
autos["odometer"] = autos["odometer"].astype(int)
autos.rename({"odometer": "odometer_km"}, inplace = True, axis = 1)

In [14]:
autos.head(2)

,datecrawled,name,seller,offertype,price_usd,abtest,vehicletype,registration_year,gearbox,powerps,model,odometer_km,registration_month,fueltype,brand,unrepaired_damage,ad_created,nrofpictures,postalcode,lastseen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08

In [15]:
autos["price_usd"].unique().shape

(2357,)

In [16]:
autos["price_usd"].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price_usd, dtype: float64

In [17]:
high_priced = autos.loc[autos["price_usd"].between(200000,100000000)]

In [18]:
low_priced = autos.loc[autos["price_usd"].between(0, 1)]

In [19]:
low_priced["registration_year"].value_counts().sort_index()

1500      1
1910      5
1950      1
1956      1
1959      1
1960     11
1963      1
1967      1
1970      8
1971      1
1972      2
1973      2
1975      1
1976      6
1978      5
1979      1
1980     15
1981      2
1982      2
1983      2
1984      2
1985     10
1986      5
1987      3
1988      8
1989     10
1990     53
1991     17
1992     22
1993     21
1994     31
1995     99
1996     80
1997     86
1998    101
1999    112
2000    226
2001     70
2002     53
2003     30
2004     37
2005     88
2006     37
2007     30
2008     18
2009     14
2010      8
2011     11
2012     13
2013      4
2014      3
2015      8
2016    107
2017     66
2018     21
2019      1
9000      1
9996      1
9999      1
Name: registration_year, dtype: int64

## Questionable used car listings priced at 0 or 1 USD
1. 2015, 2016, 2017, 2018, and 2019 model cars selling for 0 or 1 USD?
2. Odd model year entries including 1500, 1910, 9000, 9996, 9999?

I will be removing these 212 car listings.

## Skewed results from used car listings priced greater 200,000 USD

I will also be removing 22 car listings for prices greater than 200,000 USD.

In [20]:
new_years = [2015, 2016, 2017, 2018, 2019]
odd_years = [1500, 1910, 9000, 9996, 9999]

In [21]:
new_years_low_priced = low_priced.loc[low_priced["registration_year"].isin(new_years)]
len(new_years_low_priced)

203

In [22]:
odd_years_low_priced = low_priced.loc[low_priced["registration_year"].isin(odd_years)]
len(odd_years_low_priced)

9

In [23]:
len(high_priced)

22

In [24]:
autos2 = autos.drop(new_years_low_priced.index, axis = 0)
autos2 = autos2.drop(odd_years_low_priced.index, axis = 0)
autos2 = autos2.drop(high_priced.index, axis = 0)

In [25]:
autos2.describe()

,price_usd,registration_year,powerps,odometer_km,registration_month,nrofpictures,postalcode
count,49766.000000,49766.000000,49766.000000,49766.000000,49766.000000,49766.0,49766.000000
mean,5700.943174,2004.586646,116.197685,125770.405498,5.732970,0.0,50839.805992
std,8249.602115,87.580784,198.640849,39954.790249,3.707275,0.0,25776.590221
min,0.000000,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,1150.000000,1999.000000,70.000000,125000.000000,3.000000,0.0,30455.000000
50%,2950.000000,2003.000000,105.000000,150000.000000,6.000000,0.0,49586.000000
75%,7250.000000,2008.000000,150.000000,150000.000000,9.000000,0.0,71560.000000
max,198000.000000,9999.000000,17700.000000,150000.000000,12.000000,0.0,99998.000000

In [26]:
autos.describe()

,price_usd,registration_year,powerps,odometer_km,registration_month,nrofpictures,postalcode
count,5.000000e+04,50000.000000,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,9.840044e+03,2005.073280,116.355920,125732.700000,5.723360,0.0,50813.627300
std,4.811044e+05,105.712813,209.216627,40042.211706,3.711984,0.0,25779.747957
min,0.000000e+00,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,1.100000e+03,1999.000000,70.000000,125000.000000,3.000000,0.0,30451.000000
50%,2.950000e+03,2003.000000,105.000000,150000.000000,6.000000,0.0,49577.000000
75%,7.200000e+03,2008.000000,150.000000,150000.000000,9.000000,0.0,71540.000000
max,1.000000e+08,9999.000000,17700.000000,150000.000000,12.000000,0.0,99998.000000

In [27]:
autos2["odometer_km"].unique().shape

(13,)

In [28]:
autos2["odometer_km"].describe()

count     49766.000000
mean     125770.405498
std       39954.790249
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [29]:
autos2["dc_date"] = autos2["datecrawled"].str[:10]
autos2["ad_date"] = autos2["ad_created"].str[:10]
autos2["seen_date"] = autos2["lastseen"].str[:10]

In [30]:
autos2["dc_date"].value_counts(normalize = True, dropna = False).sort_index()
# When this ad was first crawled. All field-values are taken from this date.

2016-03-05    0.025379
2016-03-06    0.013945
2016-03-07    0.035948
2016-03-08    0.033316
2016-03-09    0.033175
2016-03-10    0.032211
2016-03-11    0.032552
2016-03-12    0.036772
2016-03-13    0.015573
2016-03-14    0.036551
2016-03-15    0.033959
2016-03-16    0.029398
2016-03-17    0.031548
2016-03-18    0.013021
2016-03-19    0.034903
2016-03-20    0.037777
2016-03-21    0.037536
2016-03-22    0.032934
2016-03-23    0.032392
2016-03-24    0.029197
2016-03-25    0.031688
2016-03-26    0.032432
2016-03-27    0.031065
2016-03-28    0.034843
2016-03-29    0.034160
2016-03-30    0.033678
2016-03-31    0.031909
2016-04-01    0.033778
2016-04-02    0.035386
2016-04-03    0.038761
2016-04-04    0.036551
2016-04-05    0.013041
2016-04-06    0.003195
2016-04-07    0.001427
Name: dc_date, dtype: float64

In [31]:
autos2["dc_date"].describe()

count          49766
unique            34
top       2016-04-03
freq            1929
Name: dc_date, dtype: object

In [32]:
autos2["ad_date"].value_counts(normalize = True, dropna = False).sort_index()
# The date on which the eBay listing was created.

2015-06-11    0.000020
2015-08-10    0.000020
2015-09-09    0.000020
2015-11-10    0.000020
2015-12-05    0.000020
                ...
2016-04-03    0.039003
2016-04-04    0.036913
2016-04-05    0.011775
2016-04-06    0.003275
2016-04-07    0.001286
Name: ad_date, Length: 76, dtype: float64

In [33]:
autos2["ad_date"].describe()

count          49766
unique            76
top       2016-04-03
freq            1941
Name: ad_date, dtype: object

In [34]:
autos2["seen_date"].value_counts(normalize = True, dropna = False).sort_index()
# When the crawler saw this ad last online.

2016-03-05    0.001085
2016-03-06    0.004401
2016-03-07    0.005385
2016-03-08    0.007475
2016-03-09    0.009826
2016-03-10    0.010770
2016-03-11    0.012539
2016-03-12    0.023791
2016-03-13    0.009002
2016-03-14    0.012780
2016-03-15    0.015854
2016-03-16    0.016336
2016-03-17    0.027931
2016-03-18    0.007415
2016-03-19    0.015774
2016-03-20    0.020657
2016-03-21    0.020697
2016-03-22    0.021541
2016-03-23    0.018567
2016-03-24    0.019592
2016-03-25    0.019190
2016-03-26    0.016939
2016-03-27    0.015935
2016-03-28    0.020898
2016-03-29    0.022324
2016-03-30    0.024856
2016-03-31    0.023852
2016-04-01    0.023068
2016-04-02    0.024937
2016-04-03    0.025399
2016-04-04    0.024555
2016-04-05    0.124342
2016-04-06    0.221175
2016-04-07    0.131114
Name: seen_date, dtype: float64

In [35]:
autos2["seen_date"].describe()

count          49766
unique            34
top       2016-04-06
freq           11007
Name: seen_date, dtype: object

## Calculating excessive days for used car listings to get crawled

In [36]:
autos2["dc_date"] = pd.to_datetime(autos2["dc_date"])
autos2["ad_date"] = pd.to_datetime(autos2["ad_date"])
autos2["seen_date"] = pd.to_datetime(autos2["seen_date"])

In [37]:
autos2["crawled"] = autos2["dc_date"] - autos2["ad_date"]

In [38]:
autos2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49766 entries, 0 to 49999
Data columns (total 24 columns):
datecrawled           49766 non-null object
name                  49766 non-null object
seller                49766 non-null object
offertype             49766 non-null object
price_usd             49766 non-null int64
abtest                49766 non-null object
vehicletype           44882 non-null object
registration_year     49766 non-null int64
gearbox               47142 non-null object
powerps               49766 non-null int64
model                 47067 non-null object
odometer_km           49766 non-null int64
registration_month    49766 non-null int64
fueltype              45384 non-null object
brand                 49766 non-null object
unrepaired_damage     40061 non-null object
ad_created            49766 non-null object
nrofpictures          49766 non-null int64
postalcode            49766 non-null int64
lastseen              49766 non-null object
dc_date               49766 non-null datetime64[ns]
ad_date               49766 non-null datetime64[ns]
seen_date             49766 non-null datetime64[ns]
crawled               49766 non-null timedelta64[ns]
dtypes: datetime64[ns](3), int64(7), object(13), timedelta64[ns](1)
memory usage: 9.5+ MB

In [39]:
autos2["crawled"].value_counts().sort_index()

0 days      48111
1 days       1451
2 days         60
3 days         15
4 days          8
5 days         12
6 days         14
7 days         13
8 days          3
9 days          2
10 days         4
11 days         5
12 days         4
13 days         3
14 days         1
15 days         6
16 days         2
18 days         1
19 days         1
20 days         3
21 days         3
22 days         1
23 days         1
24 days         1
26 days         3
27 days         2
28 days         2
30 days         4
31 days         2
32 days         3
33 days         2
36 days         1
38 days         3
40 days         1
43 days         1
49 days         1
51 days         2
52 days         1
53 days         1
54 days         1
57 days         1
58 days         1
61 days         1
62 days         1
67 days         1
76 days         1
104 days        1
134 days        1
178 days        1
211 days        1
286 days        1
Name: crawled, dtype: int64

In [40]:
old_crawls = autos2.loc[autos2["crawled"] > '7 Days']

In [41]:
autos2 = autos2.drop(old_crawls.index, axis = 0)

## Calculating the existing days for remaining used car listings

In [42]:
autos2["existing"] = autos2["seen_date"] - autos2["ad_date"]

In [43]:
autos2["existing"].value_counts().sort_index()

0 days     6983
1 days     2901
2 days     5203
3 days     2527
4 days     3696
5 days     1684
6 days     2763
7 days     1707
8 days     2350
9 days     1830
10 days    1319
11 days    1678
12 days    1224
13 days    1265
14 days    1146
15 days    1050
16 days     978
17 days     887
18 days    1045
19 days     612
20 days     504
21 days     770
22 days     839
23 days     575
24 days     566
25 days     528
26 days     498
27 days     548
28 days     430
29 days     549
30 days     337
31 days     420
32 days     107
33 days     149
34 days       2
35 days       8
36 days       1
37 days       3
38 days       2
Name: existing, dtype: int64

## Cleaning for remaining odd original registration years

In [44]:
autos2["registration_year"].value_counts().sort_index().head(50)

1000     1
1001     1
1111     1
1800     2
1910     4
1927     1
1929     1
1931     1
1934     2
1937     4
1938     1
1939     1
1941     2
1943     1
1948     1
1950     3
1951     2
1952     1
1953     1
1954     2
1955     2
1956     5
1957     2
1958     4
1959     7
1960    33
1961     6
1962     4
1963     9
1964    12
1965    17
1966    22
1967    27
1968    26
1969    19
1970    45
1971    27
1972    35
1973    25
1974    24
1975    19
1976    27
1977    21
1978    47
1979    35
1980    97
1981    30
1982    43
1983    52
1984    53
Name: registration_year, dtype: int64

In [45]:
pre_1960 = autos2.loc[autos2["registration_year"] < 1960]

In [46]:
len(pre_1960)

53

In [47]:
autos2["registration_year"].value_counts().sort_index().tail(50)

1980      97
1981      30
1982      43
1983      52
1984      53
1985     103
1986      75
1987      75
1988     142
1989     181
1990     395
1991     356
1992     389
1993     444
1994     660
1995    1312
1996    1443
1997    2025
1998    2450
1999    2997
2000    3347
2001    2700
2002    2531
2003    2725
2004    2733
2005    3009
2006    2699
2007    2298
2008    2227
2009    2092
2010    1588
2011    1630
2012    1321
2013     803
2014     662
2015     389
2016    1206
2017    1382
2018     470
2019       2
2800       1
4100       1
4500       1
4800       1
5000       4
5911       1
6200       1
8888       1
9000       1
9999       3
Name: registration_year, dtype: int64

In [48]:
post_2018 = autos2.loc[autos2["registration_year"] > 2018]

In [49]:
len(post_2018)

17

In [50]:
autos2 = autos2.drop(pre_1960.index, axis = 0)
autos2 = autos2.drop(post_2018.index, axis = 0)

I removed 53 used car listings with an original registration year prior to 1960.

I removed 17 used car listings with an original registration year after 2018.

In [51]:
autos2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49614 entries, 0 to 49999
Data columns (total 25 columns):
datecrawled           49614 non-null object
name                  49614 non-null object
seller                49614 non-null object
offertype             49614 non-null object
price_usd             49614 non-null int64
abtest                49614 non-null object
vehicletype           44767 non-null object
registration_year     49614 non-null int64
gearbox               47016 non-null object
powerps               49614 non-null int64
model                 46945 non-null object
odometer_km           49614 non-null int64
registration_month    49614 non-null int64
fueltype              45264 non-null object
brand                 49614 non-null object
unrepaired_damage     39961 non-null object
ad_created            49614 non-null object
nrofpictures          49614 non-null int64
postalcode            49614 non-null int64
lastseen              49614 non-null object
dc_date               49614 non-null datetime64[ns]
ad_date               49614 non-null datetime64[ns]
seen_date             49614 non-null datetime64[ns]
crawled               49614 non-null timedelta64[ns]
existing              49614 non-null timedelta64[ns]
dtypes: datetime64[ns](3), int64(7), object(13), timedelta64[ns](2)
memory usage: 9.8+ MB

## Exploring the used car prices by brand

In [61]:
autos2["brand"].value_counts(normalize = True).head(10).index

Index(['volkswagen', 'opel', 'bmw', 'mercedes_benz', 'audi', 'ford', 'renault',
       'peugeot', 'fiat', 'seat'],
      dtype='object')

In [72]:
brand_mean_prices = {}
brands = autos2["brand"].value_counts(normalize = True).head(10).index

for brand in brands:
    price = autos2.loc[autos2["brand"] == brand]["price_usd"].mean()
    brand_mean_prices[brand] = round(price, 2)

In [74]:
brand_mean_prices

{'volkswagen': 5181.44,
 'opel': 2851.65,
 'bmw': 7961.03,
 'mercedes_benz': 8323.08,
 'audi': 9019.26,
 'ford': 3607.07,
 'renault': 2363.3,
 'peugeot': 3010.87,
 'fiat': 2701.81,
 'seat': 4241.7}

In [75]:
bmp_series = pd.Series(brand_mean_prices)

In [84]:
new_autos_data = pd.DataFrame(bmp_series, columns = ["mean_price"])

In [85]:
new_autos_data

               mean_price
volkswagen        5181.44
opel              2851.65
bmw               7961.03
mercedes_benz     8323.08
audi              9019.26
ford              3607.07
renault           2363.30
peugeot           3010.87
fiat              2701.81
seat              4241.70

In [78]:
brand_mean_mileage = {}
brands = autos2["brand"].value_counts(normalize = True).head(10).index

for brand in brands:
    mileage = autos2.loc[autos2["brand"] == brand]["odometer_km"].mean()
    brand_mean_mileage[brand] = round(mileage, 1)

In [79]:
brand_mean_mileage

{'volkswagen': 128979.2,
 'opel': 129454.8,
 'bmw': 132627.7,
 'mercedes_benz': 131063.3,
 'audi': 129582.5,
 'ford': 124337.7,
 'renault': 128260.7,
 'peugeot': 127432.8,
 'fiat': 116980.8,
 'seat': 122371.8}

In [80]:
bmm_series = pd.Series(brand_mean_mileage)

In [86]:
new_autos_data["mean_mileage"] = bmm_series

In [87]:
new_autos_data

               mean_price  mean_mileage
volkswagen        5181.44      128979.2
opel              2851.65      129454.8
bmw               7961.03      132627.7
mercedes_benz     8323.08      131063.3
audi              9019.26      129582.5
ford              3607.07      124337.7
renault           2363.30      128260.7
peugeot           3010.87      127432.8
fiat              2701.81      116980.8
seat              4241.70      122371.8